TilesDesc(
    map : {
        VOID: SRect (
            min: (0, 0),
            max: (15, 15),
        ),
        GRASS: SRect(
            min: (16, 0),
            max: (31, 15),
        ),
        DIRT: SRect(
            min: (32, 0),
            max: (47, 15),
        ),
        ROCK: SRect(
            min: (48, 0),
            max: (63, 15),
        ),
        SAND: SRect(
            min: (64, 0),
            max: (79, 15),
        )
    }
)